:root {
    --background: #FCFCFC;
    --background-focused: #EBEBEB;
    --contrast-element-color: #F3F4F6;
    --title-color: #012345;
    --button-text: #FCFCFC;
    --text-color: #677B8F;
    --highlight-pink: #F61D9F;
    --highlight-blue: #4959FF;
}